<img src="https://healthluk.netlify.app/img/logo-new-3.png" alt="Company Logo">

<div>
  <fa-icon [icon]="faFacebook" class="fa-3x"></fa-icon>
  <fa-icon [icon]="faInstagram" class="fa-3x"></fa-icon>
  <fa-icon [icon]="faXTwitter" class="fa-3x"></fa-icon>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="email" id="email" formControlName="email" placeholder="Join our Waitlist">


  <button type="submit">Submit</button>
</form>



<!--<form (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" id="name" name="name" ngModel required>-->
<!--  </div>-->
<!--  &lt;!&ndash; Add more form fields and validation as needed &ndash;&gt;-->
<!--  <button type="submit">Submit</button>-->
<!--</form>-->

