
<div class="logo-img">
                <div class="background">
                  <img src="assets/bg-image_104658.jpg" alt="beautiful health assistants " class="background-image2">
                </div>
                   <div class="logo">
                      <img src="https://healthluk.netlify.app/img/logo-new-3.png" alt="Company Logo">
                   </div>
         <div class="brands">
               <fa-icon [icon]="faFacebook" class="fa-3x"></fa-icon>
               <fa-icon [icon]="faInstagram" class="fa-3x"></fa-icon>
               <fa-icon [icon]="faXTwitter" class="fa-3x"></fa-icon>
         </div>
                <div class="h1-container">
                  <div class="header-container">
    <div>
      <h1>
        Your
        <br>
        Health Service
        <br>
        Navigator
      </h1>
      <p>
        HealthLuk® is a comprehensive directory that connects
        you with a world of healthcare options.
      </p>
    </div>

  </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                               <input type="email" id="email" formControlName="email" class="form-input"
                                     placeholder="Join our Waitlist"> <button type="submit" class="submit">Submit</button>
                    </form>
                </div>

</div>







<!--<form (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" id="name" name="name" ngModel required>-->
<!--  </div>-->
<!--  &lt;!&ndash; Add more form fields and validation as needed &ndash;&gt;-->
<!--  <button type="submit">Submit</button>-->
<!--</form>-->

