/* You can add global styles to this file, and also import other style files */
.background{
  height: 100vh;
  width:100vw;
  z-index:0;
}

.background-image2{
height:100%;
width:100%;
transform:scale(100%);
}

.brands{
color:#052c65;
display: flex;
position: fixed;
top: 0;
right:0;
gap: 10px
}

.form{
display: flex;
}

.form-input{
padding:20px;
width:700px;
margin:20px 0;
border-radius:100px;
}

.submit{
width:100px;
height:50px;
border-radius:20px
}
.logo{
position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

.logo img{
 width: 100%;
  height: auto;
}

.h1-container{
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
padding:150px;
background-color:#0000005e;
width:100%;
}

.h1-container h1{
font-size:90px;
font-weight:bold;
color:white;

}
.h1-container p{
color:white;
font-size:24px;
}

.header-container{
 z-index:1;

}
